@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker'), local('PermanentMarker'), url(http://themes.googleusercontent.com/static/fonts/permanentmarker/v2/9vYsg5VgPHKK8SXYbf3sMmVSxyvLCPm9firj_jMeQtQ.woff) format('woff');
}



#intro{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;

}

#intro .intro-overlay{

  background-color:rgba(0,0,0,.9);
  width:100%;
  height:100%;
  margin-top:-20px;
  margin-bottom:-120px;
}

#intro .video-wrapper{


  width: 600px;
  height: 400px;

  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -300px;
}

#intro .skip{
  font: normal 28px/22px 'Permanent Marker', cursive;
  color:white;
  position: absolute;
  top: 500px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.surface {
  position: absolute;

}

#main {
  min-height:100%;
}

.logo {
  position: fixed;
  top: 37px;
  right: 29px;
  z-index: 102;
}

.main-navigation {
  position: fixed;
  z-index: 10;
  background: url(/app/img/nav-bg.png);
  width: 319px;
  height: 64px;
  top: 47px;
  right: 281px;
  padding: 28px 0 0 37px;
}

.main-navigation li {
  list-style-type: none;
}

.main-navigation a {
  float: left;
  height: 30px;
  background-image: url(/app/img/nav-text.png);
  text-indent: -9999px;
}

.main-navigation a.about {
  width: 45px;
  background-position: 0 0;
  margin-right: 34px;
}

.main-navigation a.your-story {
  width: 93px;
  background-position: -45px 0;
  margin-right: 29px;
}

.main-navigation a.blog {
  width: 35px;
  background-position: -138px 0;
}

#surface-la {
  width: 100%;
  height:100%;
  z-index: 1;
}

#la {
  position: relative;
  width: 100%;
  height: 100%;
  min-height:700px;
  margin: 0 auto;
}

#surface-mx {
  z-index: 10;
  position: fixed;
  bottom: 10px;
  left: 2px;
  background: url(/app/img/mini-map-frame.png);
  width: 224px;
  height: 242px;
}

#mx {
  width: 187px;
  height: 160px;
  margin: 0 auto;
  position: absolute;
  top:33px;
  left:14px;
}

.surface-player {
  background: rgba(0,0,0,0.65);
  z-index: 110;
  width:100%;
  height:100%;
  left:-100%;
}

.surface-player .player-container {
  width: 518px;
  height: 399px;
  background: url(/app/img/player-bg.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -259px;
}

#zeega-player{
  position: relative;
  height: 290px;
  width: 458px;
  margin: 20px auto 0;
}

#zeega-player .fullscreen {
  background: url(/app/img/fullscreen-icon.png);
  bottom: 10px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 10px;
  text-indent: -9999px;
  width: 20px;
  z-index: 100000;
}

#zeega-player .ZEEGA-player {
  font-size: 4px; /* only for scaling down the arrows, which are sized in ems */
}

.center {
  left:0;
}

#zeega-controls {
  width: 600px;
  margin: 0 auto;
}


[class^="icon-"] {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings-white.png");
}

.player-close {
  position: absolute;
  top: -11px;
  right: -10px;
  width: 28px;
  height: 27px;
  background: url(/app/img/close-btn.png);
  text-indent: -9999px;
}

.player-title {
  font: normal 31px/25px 'Permanent Marker', cursive;
  text-align: center;
  margin: 15px 0 0;
  height: 45px;
  display: block;
}

.origin-label {
  position: fixed;
  bottom: 34px;
  left: 13px;
  width: 191px;
  text-align: center;
  z-index: 100;
  font-size: 40px;
  line-height: 35px;
  font: normal 14px 'Permanent Marker', cursive;
}

.map-legend {
  height: 29px;
  width: 533px;
  background: url(/app/img/map-legend.png);
  position: fixed;
  left: 247px;
  bottom: 24px;
  z-index: 90;
}

#surface-mx .leaflet-control-attribution {
  display:none !important;
}

.leaflet-control-container .leaflet-top .leaflet-bar {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 17px 0 0 19px;
}

.leaflet-control-container .leaflet-top .leaflet-bar-part {
  background: url(/app/img/map-zoom-icons.png);
  border-radius: 0;
  width: 28px;
  height: 28px;
}

.leaflet-control-container .leaflet-top .leaflet-bar-part-top {
  margin-bottom: 10px;
}

.leaflet-control-container .leaflet-top .leaflet-control-zoom-out {
  background-position: 0 -28px;
}

/*
.leaflet-map-pane .leaflet-popup-pane {
  z-index: 3;
}
*/

.leaflet-map-pane .leaflet-popup {
  position: relative;
}

.leaflet-popup-pane .leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper {
  border-radius: 0;
  background: rgba(255,255,255,0.75);
  padding: 2px 5px 2px 25px;
}

.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content {
  font: normal 14px 'Permanent Marker', cursive;
  margin: 0;
}

.leaflet-popup-pane .leaflet-popup-close-button {
  display: none;
}