#la {
  position: relative;
  z-index: 8;
  width: 100%;
  height: 700px;
  margin: 0 0 1em 0;
}​

#surface-mx {
  margin-top: -200px;
  z-index: 998;
  position: absolute;
  border: 2px solid black;
  width: 300px;
  height: 250px;
}

#mx {
  position: absolute;
  z-index: 998;
  left: 0px;
  bottom: 0px;
  width: 300px;
  height: 250px;
  margin: 0 0 1em 0;
  border: 2px solid black;
}​

#zeega-player {
  /*
  height: 400px;
  width: 600px;
  margin: 0 auto;
  */
}

#zeega-controls {
  width: 600px;
  margin: 0 auto;
}


[class^="icon-"] {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings-white.png");
}
