.surface {
  position: absolute;

}

#surface-la {
  width: 100%;
  z-index: 1;
}

#surface-mx {

  z-index: 2;
/*  width: 300px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid black;
*/}



#surface-player {
  z-index: 2;
  position: relative;
  width: 960px;
  height: 720px;
  margin-left: -9999px;
}

.center {
  margin-left: auto;
}



#la {
  position: relative;

  width: 960px;
  height: 720px;
  margin: 0 auto;
}

#mx {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}​

#zeega-controls {
  width: 600px;
  margin: 0 auto;
}


[class^="icon-"] {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings-white.png");
}
