<img class="logo" src="/app/img/logo.png" alt="Sonic Trace / KCRW" width="259" height="170">

<ul class="main-navigation">
	<li><a class="about" href="http://sonictrace.kcrw.com/blog/about" target="_blank">About</a></li>
	<li><a class="your-story" href="http://www.kcrw.com/etc/sonic-trace_add-your-story" target="_blank">Your Story</a></li>
	<li><a class="blog" href="http://sonictrace.kcrw.com/blog" target="_blank">Blog</a></li>
</ul>

<div id="surface-la" class="surface">
If this is visible, something went wrong
</div>

<div id="surface-mx" class="surface">
If this is visible, something went wrong
</div>

<div class ="origin-label">test</div>

<div class="map-legend"></div>

<div class="surface-player surface">
  <div class="player-container">
    <h1 class="player-title"></h1>
    <a href="#" class="player-close">close</a>
    <div id="zeega-player">
      <span class="fullscreen">fullscreen</span>
    </div>
  </div>
</div>

<!--
<div id="surface-line">
  The surface in the bottom left-hand corner will pan to the appropriate location such that the animated line will always begin in the same position relative to the surface container.

  Origin localtion will be stored in the attributes of the project.

  The text on the line will be the collection title.
</div>
-->
