<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Sonic Trace</a>

    </div>
  </div>
</div>

<div id="surface-la">
If this is visible, something went wrong
</div>

<div id="surface-mx">
If this is visible, something went wrong
</div>

<div id="surface-line">
  The surface in the bottom left-hand corner will pan to the appropriate location such that the animated line will always begin in the same position relative to the surface container.

  Origin localtion will be stored in the attributes of the project.

  The text on the line will be the collection title.
</div>
