
<div id="surface-la" class="surface">
If this is visible, something went wrong
</div>

<div id="surface-mx" class="surface">
If this is visible, something went wrong
</div>


<div id="surface-player" class="surface">
surface player!
  <div id="zeega-player">
    target
  </div>
  <a href="#" class="prev">prev</a>
  <a href="#" class="next">next</a>

</div>

<!--
<div id="surface-line">
  The surface in the bottom left-hand corner will pan to the appropriate location such that the animated line will always begin in the same position relative to the surface container.

  Origin localtion will be stored in the attributes of the project.

  The text on the line will be the collection title.
</div>
-->
